<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.domain.post.PostMapper">

	<!-- tb_post 테이블 전체 컬 -->
	<sql id="postColumns">
		id, title, content, writer, view_cnt, notice_yn, delete_yn, created_date, modified_date
	</sql>
	
	<!-- 게시글 저장 -->
	<insert id="save" parameterType="com.study.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_post (
            <include refid="postColumns"/>
        ) 
        VALUES (
              #{id}, #{title} , #{content}, #{writer}, 0, #{notice_yn}, 0, NOW(), NULL
        )
    </insert>
	
	<!--게시글 전체 조회 -->
	<select id="findAll" parameterType="com.study.common.dto.SearchDto" resultType="com.study.domain.post.PostResponse">
		 SELECT
            <include refid="postColumns"/>
        FROM
            tb_post
        WHERE
            delete_yn = 0
        ORDER BY
            id DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
	</select>
	
	<!-- 게시글 카운트 -->
	<select id="count" parameterType="com.study.common.dto.SearchDto" resultType="int">
		SELECT COUNT(*)
		FROM tb_post
		WHERE delete_yn = 0
	</select>
	
	<!-- id로 조회 -->
	<select id="findById" parameterType="Long" resultType="com.study.domain.post.PostResponse">
		SELECT <include refid="postColumns"/>
		FROM tb_post
		WHERE id = #{id}
	</select>
	
	<update id="update" parameterType="com.study.domain.post.PostRequest">
		UPDATE tb_post
		SET modified_date = NOW(), title = #{title}, content = #{content}, notice_yn = #{notice_yn}
		WHERE id = #{id}
	</update>
	
	<update id="deleteById" parameterType="Long">
		UPDATE tb_post
		SET delete_yn = 1
		WHERE id = #{id}
	</update>
</mapper>